<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Chat</title>
  </head>
  <body>

    <form>
      <p>Email:</p>
      <input type="text" id="email" />
      <p>Mensaje:</p>
      <input type="text" id="message" />
      <button type="submit">Enviar</button>
    </form>
    <section id="chatField"></section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat.js"></script>
  </body>
</html>