<h2>Logueate</h2>

<form action="/api/users/login" method="post">
    email: <input type="email" name="email" id="email">
    password: <input type="password" name="password" id="password">
    <input type="submit" value="ingresar">
</form>

<h2>usuario nuevo?</h2>
{{!-- cdo alguien da clik llevame a tal vista /views/registro--}}

<a href='/users/registro'>ir a registro</a>