<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 mb-5">
            <form action="/api/users/login" method="post">
                <h2 class="mb-3">Iniciar sesi칩n</h2>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contrase침a"
                        required>
                    <label for="password">Contrase침a</label>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-danger btn-lg">Iniciar sesi칩n</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h2>Usuario nuevo</h2>
            <a href='/users/registro' class="btn btn-danger btn-lg w-100">Registrate</a>
            <a href='/users/registro-git' class="btn btn-danger btn-lg w-100">Entrar con Github</a>
        </div>
    </div>
</div>