{{!-- TRAIGO el scrip de soketio para trabajar del lado del cliente --}}
<script src="/socket.io/socket.io.js"></script>
{{!-- TRAIGO el scrip del js que creamos nosotros --}}
<script src="realTimeProducts.js"></script>

{{!-- se carga dinamicamnete con un evento de agregado y borrado de producto --}}
<div id="messages"></div>